.landing-logged-out {
  font-family: "Roboto Slab";
  text-align: center;
  height: 100%;
  margin-top: 60px;

  h1 {
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: bold;
    color: #413D3B;
    line-height: 43px;
  }

  h2 {
    margin-bottom: 26px;
    font-size: 16px;
    color: #413D3B;
    font-weight: normal;
    line-height: 22px;
  }

  .cta-header {
    margin-bottom: 60px;
  }

  .landing-boxes {
    align-items: center;
    border: 1px solid #E3E1DF;
    border-radius: 5px;
    margin-bottom: 66px;
    color: #43B980;
    background-color: white;
    box-shadow: 0 2px 0 0 #F0F0F0;

    >section {
      height: 100%;

      &:not(:first-child) {
        padding: 36px;
        border-left: 1px solid #E6E4E1;
      }
    }
  }

  .boxed {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .invisible {
      visibility: hidden;
    }
    .number {
      font-size: 48px;
      font-weight: bold;
    }
    .explain  {
      font-size: 12px;
      font-weight: bold;
      color: #737373;
    }
  }

  .latest-works {
    margin-bottom: 105px;
  }

  .call-to-action-placeholder {
    background-color: #68625F;
    padding: 70px;

    h1 {
      font-size: 32px;
      font-weight: bold;
      line-height: 43px;
      color: #FFFFFF;
    }

    h2 {
      font-size: 18px;
      line-height: 18px;
      color: #FFFFFF;
    }

    button {
      margin: 0 8px;
    }
  }
}
