@import "Colors";
@import "Fonts";

.landing-logged-in {
  height: 100%;
  margin-bottom: 0px;
  margin-top: 200px;

  .logo {
    width: 256px;
    margin-bottom: 36px;
  }

  .search {
    padding-bottom: 200px;

    input[type="text"] {
      height: 50px;
      width: 563px;
      margin-bottom: 36px;
      border-radius: 3px;
      box-shadow: 2px 2px 9px 0 rgba(0,0,0,0.06);
      background-color: $white;
    }

    button {
      height: 49px;
      width: 177.07px;
      text-align: center;
      font-family: $source-sans-pro;
      font-size: 14px;
      font-weight: bold;
      line-height: 18px;
      background-color: $dune;
      color: $alabaster;
    }
  }

  .latest-blocks-and-works {
    padding: 20px 0;
    border-top: 1px solid $gallery2;
    background-color: $white;
  }
}
