.landing-logged-out .partners {
  margin-bottom: 128px;

  h1 {
    font-size: 22px;
    text-align: center;
    line-height: 29px;
    color: #413D3B;
    font-weight: normal;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 140px;
      height: 34px;
      margin: 10px;
      border: 1px solid #E8E6E2;
      background-color: #FFFFFF;
      font-size: 11px;
      color: #3F3F3F;
    }
  }

}