.landing .reviews {
  margin-bottom: 150px;

  h2 {
    margin-bottom: 64px;
  }

  .review {
    text-align: center;

    img {
      width: 100px;
      height: 100px;
      border: 1px solid #E6E4E1;
      border-radius: 50%;
      background-color: white;
      margin-bottom: 25px;
    }

    h1 {
      margin-bottom: 3px;
      font-size: 18px;
      font-weight: 300;
      line-height: 24px;
      color: #4A4A4A;
    }

    h2 {
      margin-bottom: 16px;
      font-size: 12px;
      font-weight: bold;
      line-height: 16px;
      letter-spacing: 1px;
      color: #413D3B;
    }

    article {
      font-size: 12px;
      line-height: 18px;
      color: #413D3B;
    }
  }
}