{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", {
      "targets": "> 3%, not dead"
    }],
  ],
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-optional-chaining"
  ],
}