{
    "extension": [
        ".ts",
        ".tsx"
    ],
    "include": [
      "src/**/*.ts",
      "src/**/*.tsx"
    ],
    "exclude": [
        "tests/**/*.*",
        "dist/**/*.*",
        ".coverage/**/*.*",
        "**/*.d.ts",
        "**/*.test.ts",
        "**/*.stories.tsx",
        "**/*.test.tsx"
    ],
    "reporter": [
        "lcov",
        "html",
        "text",
        "text-summary"
    ],
    "all": true,
    "esModules": true,
    "staticType": "typescript",
    "plugins": ["classProperties", ["decorators", { "decoratorsBeforeExport": true }]]
}
