$header-height: 60px;

.sidebar {
  display: flex;
  flex-direction: row;
  flex: 1;

  main {
    flex: 12;
    display: flex;
  }
}

.invertScroll {
  max-height: 100vh;
  margin-top: -$header-height;
  padding-top: $header-height;

  aside {
    overflow-y: scroll;
  }
}

