@import 'Fonts';

.works {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  >li {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    background-color: white;

    >h1 {
      display: block;
      margin-top: 0px;
      margin-bottom: 5px;
      font-family: $roboto-slab;
      color: #36b074;
      font-size: 18px;
      text-decoration: underline;
      line-height: 30px;
    }

    >h2 {
      display: inline-block;
      color: #2a2a2a;
      font-weight: 600;
      font-size: 14px;
      margin: 0;
    }

    >h3 {
      display: inline-block;
      margin: 0 0 0 10px;
      font-weight: 400;
      font-size: 14px;
    }
  }
}
