@import "Modal";

.modal-create-work-result {
  @include modal;
  width: 340px;
  font-family: "Source Sans Pro";
  text-align: center;

  main {
    box-sizing: border-box;
    padding: 30px 0;
    border-bottom: 1px solid #D9D9D9;
    color: #666666;

    img {
      width: 93px;
      height: 93px;
      margin-bottom: 39px;
    }

    h1 {
      font-size: 23px;
      font-weight: 600;
      line-height: 20px;
      margin-bottom: 9px;
    }

    h2 {
      font-size: 10px;
      line-height: 18px;
      margin-bottom: 25px;
    }

    ul.claim-details {
      list-style: none;
      padding: 0;
      padding-left: 5px;
      padding-right: 5px;
      margin: 0 0 35px 0;
      font-size: 10px;
      line-height: 18px;
      color: #666666;
    }
  }


  nav {
    padding: 20px;

    button {
      width: 100%
    }
  }
}