@import "Fonts";
@import "Colors";
@import "Tab";

.page-work .work-tabs .content-tab {
  @include tab-list-base;
  padding: 43px 52px;
  font-family: $source-code-pro;
  font-size: 11px;
  font-weight: 500;
  line-height: 24px;
  color: $black;

  table {
    margin-bottom: 30px;

    > tbody > tr > td:first-child {
      min-width: 150px;
    }
  }

  .text {
    padding-right: 30%;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}
