@import "Tab";
@import "../../../components/styles/Fonts";
@import "../../../components/styles/Colors";

.page-work .work-tabs .technical-tab {
  @include tab-list-base;
  padding: 43px 52px;
  font-family: $source-code-pro;
  font-size: 11px;
  font-weight: 500;
  line-height: 24px;
  color: $black;

  table {
    margin-bottom: 30px;

    > tbody > tr > td:first-child {
      min-width: 150px;
    }
  }
}
