@import "../../components/styles/Fonts";
@import "../../components/styles/Colors";

.page-works > header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding: 15px 0;
  font-size: 10px;
  font-weight: bold;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.1);
  background-color: $white;

  >div {
    display: flex;
    align-items: center;

    select {
      padding: 5px;
      border: 1px solid $westar;
      border-radius: 3px;
      font-family: $roboto;
      font-size: 10px;
      font-weight: normal;
      background-color: $white;
      color: $tundora;
    }

    section.sort {
      margin-right: 14px;

      span {
        margin-right: 8px;
      }
    }

    section.license-types {
      margin-right: 14px;

      span {
        margin-right: 8px;
      }
    }

    .date-picker .date-picker-separator {
      margin: 0 8px;
    }
  }
}
