@import "../../components/styles/Fonts";
@import "../../components/styles/Colors";

.page-works > section.works {
  font-family: $roboto-slab;
  transition: .5s opacity;

  &.loading {
    opacity: .5;
    transition-delay: .5s;
  }

  .work-count {
    margin-bottom: 48px;
    font-family: $roboto-slab;
    font-size: 18px;
    font-weight: 300;
  }

  ul.works {
    list-style: none;

    li.work-item {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid $westar2;
      font-size: 10px;

      a {
        color: $tundora;
      }

      .name {
        margin-bottom: 19px;
        font-size: 16px;
        font-weight: bold;
      }

      .info {
        margin-bottom: 11px;

        .timestamp {
          margin-bottom: 19px;
          font-weight: bold;
        }
      }

      .content {

        pre {
          white-space: pre-wrap;
          word-wrap: break-word;
        }
      }
    }
  }
}
