.page-marketing {
  color: #413D3B;
  font-family: 'Roboto Slab';
  background-repeat: no-repeat;
  background-position: top right;
  padding-top: 130px;

  .introduction {
    margin-bottom: 100px;

    img {
      width: 178px;
      margin-bottom: 44px;

    }

    h1 {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 28px;
      color: #373737;
    }

    h2 {
      font-size: 18px;
      margin-bottom: 48px;
      color: #383838;
    }

    button {
      width: 178px;
      height: 35px;
    }
  }

  .quote {
    text-align: center;
    color: white;
    margin-bottom: 120px;
    position: relative;
    background-color: #413D3B;
    padding: 75px 125px;

    &::after {
      content: '';
      position: absolute;
      border: 1px solid #BEAF7E;
      margin: 10px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    h1 {
      font-size: 29px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    blockquote {
      font-size: 20px;
    }

  }

  .features {
    margin-bottom: 75px;
    text-align: center;

    h1 {
      font-size: 29px;
      border-bottom: 3px solid #c3b07f;
      padding-bottom: 10px;
      margin-bottom: 40px;
      display: inline-block;
    }

    ol {
      list-style: none;

      li {
        display: flex;
        margin-bottom: 125px;

        &:nth-child(even) {
          flex-direction: row;

          .wrapper {
            margin-right: 40px;
          }
        }

        &:nth-child(odd) {
          flex-direction: row-reverse;

          .wrapper {
            margin-left: 40px;
          }
        }

        .wrapper {
          text-align: left;

          h2 {
            font-size: 27px;
            font-weight: bold;
            margin-bottom: 28px;
          }

          main {
            font-size: 20px;
          }
        }

      }
    }

    .placeholder {
      flex: 0 0 auto;
      width: 300px;
      height: 200px;
      background-color: white;

    }

  }

  .use-cases {
    text-align: center;
    background-color: white;
    border-top: 1px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
    padding: 20px;

    >.wrapper {
      padding-top: 70px;
      border: 1px solid #D6D6D6;
    }

    h1 {
      font-size: 29px;
      border-bottom: 3px solid #c3b07f;
      padding-bottom: 10px;
      margin-bottom: 40px;
      display: inline-block;
    }

    .user-types {
      display: flex;
      margin-bottom: 140px;

      .content-creators{
        margin-right: 50px;
      }

      .publishers {
        margin-left: 50px;
      }

      .content-creators, .publishers {
        text-align: left;

        .info {
          border-bottom: 1px solid #D5D5D5;
          padding-bottom: 40px;
          margin-bottom: 30px;
          line-height: 19px;
          display: flex;

          img {
            float: left;
            margin-right: 47px;
          }

          .wrapper {
            h2 {
              font-size: 19px;
              font-weight: bold;
            }

            main {
              font-size: 14px;
            }
          }
        }

        ol {
          list-style: none;

          li {
            font-size: 14px;
            margin-bottom: 44px;
            display: flex;
            line-height: 18px;

            &::before {
              flex: 0 0 auto;
              content: '';
              $size: 42px;
              width: $size;
              height: $size;
              border-radius: 50%;
              border: 1px solid black;
              margin-right: 38px;
            }
          }
        }
      }
    }

    .partners {
      text-align: center;
      margin-bottom: 60px;

      header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;

        h2 {
          flex: 0 0 auto;
          font-size: 20px;
          font-weight: bold;
        }

        &::before, &::after {
          content: '';
          width: 100%;
          height: 1px;
          background-color: #D5D5D5;
          margin: 0 15px 0;
        }
      }

      main {
        ul {
          display: flex;
          list-style: none;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 70px;

          li {
            flex: 0 0 auto;
          }
        }

        button {
          width: 244px;
          height: 48px;
        }
      }
    }

  }

  .team {
    text-align: center;
    padding-top: 55px;

    h1 {
      font-size: 29px;
      border-bottom: 3px solid #c3b07f;
      padding-bottom: 10px;
      margin-bottom: 40px;
      display: inline-block;
    }

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 105px;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;

        .circle {
          $size: 137px;
          width: $size;
          height: $size;
          border-radius: 50%;
          background-color: white;
          margin-bottom: 38px;
          box-shadow: inset 0 0 0 5px white, inset 0 0 0 6px #DDDDDD;
          transition: box-shadow 1s;

          &:hover {
            box-shadow: inset 0 0 0 5px white, inset 130px 0 0 6px #DDDDDD;
          }
        }

        h2 {
          font-size: 19px;
          font-weight: bold;
          margin-bottom: 10px;
        }

        small {
          font-size: 14px;
        }
      }
    }

    .become-alpha-partner {
      color: white;
      padding: 50px 85px;
      background: linear-gradient(to right bottom, #48C772 0%, #44BC6C 17%, #40B266 33%, #45A382 67%, #4A9699 100%);
      position: relative;
      margin-bottom: 88px;

      &::after {
        content: '';
        position: absolute;
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 10px;
        border: 1px solid white;
        pointer-events: none;
      }

      h2 {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      main {
        font-size: 18px;
        margin-bottom: 37px;
      }

      button {
        width: 146px;
        height: 30px;
      }
    }
  }

}