.page-profile .overview {

  .avatar {
    margin-bottom: 16px;

    width: 140px;
    height: 140px;
    background-color: #FCFCFC;
    border: 1px solid #ECECEC;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    &.authorized {
      cursor: pointer;
    }

    img.picture {
      width: 111px;
      height: 111px;
      background-color: #F1F1F1;
      border-radius: 50%;
    }

    .edit {
      position: absolute;
      margin: auto;
      padding: 10px;
      opacity: 0;
      background-color: rgba(255, 255, 255, .5);
      border-radius: 50%;
      transition: opacity .4s;

      img {
        width: 46px;
        height: 46px;
      }
    }

    &:hover .edit {
      opacity: 1;
    }
  }

  h2 {
    margin-bottom: 13px;

    font-family: "Roboto Slab";
    font-size: 22px;
    color: #413D3B;
  }

  .bio {
    margin-bottom: 30px;

    font-family: "Roboto Slab";
    font-size: 12px;
    line-height: 18px;
    color: #413D3B;
  }

  ul {
    list-style: none;
    font-family: "Source Sans Pro";
    font-size: 14px;
    color: #000000;
    margin-bottom: 26px;

    li {
      display: flex;

      img {
        margin-right: 10px;
      }

      // we need to wrap the text with a div for text-overflow to work, see https://bugzilla.mozilla.org/show_bug.cgi?id=972664
      >div {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

  }

  .id {
    align-items: center;
    .key {
      margin-right: 10px;
      text-transform: uppercase;
    }
  }

  .publicKey pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .edit-profile {
    width: 100%;
  }
}