@import '../../components/styles/Animations';

.page-profile .tabs {
  .tab-list {
    margin-bottom: 20px;

    li {
      cursor: pointer;
    }
  }

  nav {
    display: flex;
    align-items: center;
    margin-bottom: 37px;

    &.fade-in {
      @include animation-fade-in;
    }

    .search {
      width: 401px;
      height: 36px;
      display: flex;
      align-items: center;
      background-color: #FFFFFF;
      box-shadow: 2px 2px 9px 0 rgba(0,0,0,0.06);
      border-radius: 3px;
      margin: 0;

      img {
        margin: 10px;
      }

      input {
        background-color: transparent;
        border: none;
        font-family: "Roboto Slab";
        font-size: 10px;
        font-weight: bold;
        line-height: 14px;
        color: #6B6B6B;
      }
    }

    .filters {
      margin: 0 0 0 auto;
    }
  }

  .no-results {
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 #ECECEC;
    border: 1px solid #E6E3E1;
    border-radius: 4px;
    padding: 30px ;
    display: flex;

    a {
      margin-right: 5px;
    }
  }

  .no-items {
    @include animation-fade-in;

    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 #ECECEC;
    border: 1px solid #E6E3E1;
    border-radius: 4px;
    padding: 30px ;
    display: flex;

    .circle {
      box-sizing: border-box;
      width: 112px;
      height: 112px;
      background-color: rgba(236,233,232,0.15);
      border: 1px solid #CDCDCD;
      border-radius: 50%;
      flex: 0 0 auto;
      margin-right: 56px;
    }

    .message {
      margin-right: 100px;
      font-family: "Roboto Slab";
      color: #413D3B;

      h1 {
        font-size: 16px;
        font-weight: bold;
        line-height: 18px;
        margin-bottom: 10px;
      }

      small {
        font-size: 14px;
        line-height: 18px;
      }

    }

    a {
      flex: 0 0 auto;
    }
  }

  .loading {
    opacity: .5;
    pointer-events: none;
  }
}