.create-work .step-3-publish .terms-of-use {
  margin-bottom: 34px;

  h2 {
    margin-bottom: 27px;
    font-size: 16px;
    font-weight: 600;
  }

  P {
    margin-bottom: 34px;
    font-size: 12px;
  }
}