@import 'Fonts';

%buttonA {
  $background-color: #36b074;
  display: block;
  padding: 10px 15px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  background-color: $background-color;
  cursor: pointer;

  &:hover {
    background-color: #2a9e65;
  }

  &:disabled {
    background-color: desaturate($background-color, 50%);
    cursor: auto;
  }
}

%buttonB {
  display: block;
  padding: 10px 15px;
  border: 1px solid #000;
  border-radius: 6px;
  color: #2c2e3b;
  background-color: #fff;
  font-family: $open-sans;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;

  &:hover {
    color: #36b074;
  }
}