@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

$inconsolata: "Inconsolata", monospace;
$open-sans: "Open Sans", sans-serif;
$roboto-slab: "Roboto Slab", serif;
