@import 'Buttons';
@import 'Layout';

.settings {
  > header {
    @include letterboxed();
    background-color: #333;

    h1 {
      margin: 0;
      padding: 20px 0;
      font-size: 15.4px;
      line-height: 24px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 600;
    }
  }

  h2 {
    margin-bottom: 40px;
    font-size: 22.4px;
    font-weight: 700;
    font-family: $roboto-slab;
  }

  h3 {
    color: #2C2E3B;
    font-size: 12px;
    line-height: 23px;
    font-weight: normal;
  }

  form {

    &:global.isBusy {
      opacity: .3;
    }

    > section {
      padding-bottom: 16px;
      margin-bottom: 16px;

      &:not(:last-of-type) {
        border-bottom: 1px solid #cfcfcf;
      }
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input[type="password"], input[type="text"], input[type="email"] {
      display: block;
      height: 40px;
      margin-bottom: 10px;
      border-radius: 4px;
      color: #000;
      font-size: 15px;
      padding: 8px 12px;
      width: 100%;
      vertical-align: middle;
      background-color: #ffffff;
      border: 1px solid #cccccc;
    }

    button {
      @extend %buttonB;
      padding-top: 5px;
      padding-bottom: 5px;
      line-height: 20px;
    }

    a {
      color: #36b074;
      font-weight: 600;
      text-decoration: underline;
    }
  }
}

.profile, .wallet, .password {
  @include letterboxed();
  display: grid;
  grid-template-columns: 5fr 7fr;
  grid-column-gap: 16px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #cfcfcf;
}