@import 'Buttons';
@import 'Fonts';
@import 'Layout';

$main-width: 960px;
$sidebar-header-padding: 24px;
$header-height: 60px;

.sidebarHeader {
  padding: $sidebar-header-padding;
  padding-top: $sidebar-header-padding * 2;
}

.overview {
  margin-bottom: $sidebar-header-padding;

  h1 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: $roboto-slab;
  }

  ul {
    list-style: none;
    color: #2c2e3b;
    font-size: 17px;

    li {
      margin-bottom: 10px;
    }
  }

  a {
    text-decoration: underline;
    color: #36b074;
  }
}

.makeClaimButton {
  @extend %buttonA;
  border-radius: 0;
  font-size: 16px;
  padding: 18px 36px;
  text-transform: uppercase;
}

.work {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex: 1;

  >header {
    @include letterboxed();
    padding-top: 34px;
    padding-bottom: 25px;
    overflow-wrap: break-word;
  }

  >main {
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5));
    border-bottom: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 30px;
    padding: 50px calc(50% - #{$main-width / 2});

    h1 {
      font-size: 17px;
      font-weight: normal;
      margin: 0 0 10px;
    }

    p {
      font-size: 12px;
    }


    .badge {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: auto;
      grid-column-gap: 8px;
      align-items: center;
      background-color: white;
      padding: 8px 10px;
      border: 1px solid #dfdfdf;
      border-radius: 4px;
      width: 190px;
      margin-bottom: 15px;

      >img {
        grid-row: 1 / 3;
        width: 39px;
        margin-right: 8px;
      }

      h1 {
        margin: 0;
        font-size: 12px;
        font-weight: bold;
      }

      span {
        font-size: 10px;
      }
    }

    .badgeUrl {
      $base-color: #dfdfdf;

      display: flex;
      flex-direction: column;
      background-color: white;
      border: 1px solid $base-color;
      border-radius: 5px;
      font-family: monospace;
      color: darken($base-color, 35%);

      textarea {
        display: block;
        padding: 8px;
        font-family: monospace;
        height: 150px;
        border: none;
        color: inherit;
        font-size: 14px;
        line-height: 20px;
      }

      button {
        display: block;
        height: 26px;
        border: none;
        border-top: 1px solid $base-color;
        background-color: lighten($base-color, 5%);
        color: inherit;
        cursor: pointer;
      }
    }
  }

}

.links {
  display: flex;

  >a {
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    padding: 6px 8px;
    margin-right: 8px;

    >img {
      width: 27px;
      margin-right: 8px;
    }
  }
}

.content {
  >main {
    display: flex;
    background-color: white;
    padding: 10px;
    font-family: Inconsolata, monospace;
    font-size: 14px;
    word-break: break-all;
    overflow-y: scroll;
    border: 1px solid #dfdfdf;
    height: 400px;
    line-height: 25px;

    > iframe {
      flex: 1 1 auto;
      border: none;
    }
  }

  >img {
    background-color: white;
    padding: 10px;
    overflow: scroll;
    border: 1px solid #dfdfdf;
    height: 400px;
  }
}

.noWork {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
}

.graph {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
  max-height: 100vh;
  margin-top: -$header-height;
  padding-top: $header-height;
  box-sizing: border-box;
}
