.page-account-wallet table.transactions {
  width: 100%;

  tr {
    border-bottom: 1px solid #DFDFDF;

    td {
      padding: 15px 0 11px;

      &:first-child {
        width: 140px;
      }
      
      &:last-child {
        text-align: right;
      }
    }
  }

  thead td {
    padding: 0 0 10px 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    color: #666666;
  }

  tbody {
    tr {
      td {
        font-size: 11px;
        line-height: 24px;
        color: #666666;

        &.amount {
          font-size: 15px;
          text-align: right;
          line-height: 24px;

          &.positive {
            color: #7ED321;
          }
          &.negative {
            color: #D0021B;
          }
        }
      }
      
      &:hover td {
        background: rgba(0, 0, 0, .1);
      }
    }
  }
}