.page-account-wallet main .wallet-operations .wallet-operation-withdraw {
  main {
    padding-bottom: 12px;
    text-align: left;

    .input {
      margin-bottom: 20px;

      label {
        display: block;
        font-family: "Roboto Slab";
        font-size: 12px;
        font-weight: bold;
        line-height: 16px;
        color: #413D3B;
      }

      input {
        margin-bottom: 10px;
      }

      small {
        font-family: "Roboto Slab";
        font-size: 10px;
        line-height: 13px;
        color: #2E2E2E;
      }
    }

  }
  nav {
    button {
      width: 100%;
    }
  }
}