.page-account-wallet main .wallet-operations .wallet-operation-deposit {
  .qr img {
    width: 130px;
    height: 130px;
    margin-bottom: 10px;
  }

  .address {
    margin-bottom: 20px;
    font-size: 10px;
    line-height: 18px;
    color: #666666;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }

    button {
      flex: 0 0 auto;
      width: 33px;
      height: 33px;
      margin-right: 8px;
      border: 1px solid #413D3B;
      border-radius: 50%;
      font-family: "Roboto Slab";
      font-size: 8px;
      line-height: 18px;
      color: #413D3B;
      outline: none;
      cursor: pointer;

      &:hover {
        border-color: lighten(#413D3B, 15%);
        color: lighten(#413D3B, 15%);
      }
    }

    .tooltip {
      opacity: 0;
      pointer-events: none;
      transition: opacity .4s;
      padding: 4px;
      background: black;
      color: white;
      border-radius: 4px;
      position: fixed;
    }

    &.tooltip-visible .tooltip {
      opacity: 1;
    }

  }

  nav {
    a {
      width: 100%;
    }

    .separator {
      display: flex;
      justify-content: center;
      align-items: center;

      hr {
        flex-grow: 1;
        border-top: 1px solid #E6E4E1;
      }

      span {
        margin: 0 10px;
        opacity: 0.5;
        font-family: "Roboto Slab";
        font-size: 12px;
        text-align: center;
        line-height: 18px;
        color: #413D3B;
      }
    }
  }
}