.main {
  height: 100%;
  display: flex;
  flex-direction: column;

  >header {
    flex: 0 0 auto;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .25);
    z-index: 1;
    padding-right: 10px;

    >a{
      margin-right: 10px;
      padding: 13px 10px 10px;
      border-right: 1px solid #d6d6d6;

      >img {
        display: block;
        width: 39px;
      }
    }

    >ul {
      list-style: none;

      &:first-of-type {
        flex: 1 1 auto;
      }

      >li {
        display: inline-block;
        padding: 20px 10px;
        font-size: 13px;
        font-weight: 600;
      }
    }

    .sessionInactive {
      >li:last-of-type {
        padding: 11px 15px;
        border-radius: 5px;
        background-color: #36b074;
        color: #fff;
      }
    }

    .account {
      position: relative;
      margin-right: 40px;

      >img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
      }

      >ul {
        display: none;
        position: absolute;
        right: 0;
        list-style: none;
        box-shadow: 1px 0 3px 0 rgba(82, 82, 82, .26);
        border-radius: 4px;
        background-color: #fff;

        &.open {
          display: block;
        }

        >li {
          padding: 10px 20px;
          color: #222;

          &:first-of-type {
            border-bottom: 1px solid #e7e7e7;
            font-size: 12px;
            white-space: nowrap;
          }

          &:last-of-type {
            color: #da0000;
            font-weight: 600;
            font-size: 14px;
          }
        }
      }
    }
  }

  >main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
}

.arrow {
  &::after {
    content: '⌄';
    font-size: 22px;
    font-weight: normal;
    line-height: 13px;
    margin-left: 4px;
  }
}