@import '../../styles/Colors';

.Input {

  &__label {
    padding-bottom:.5rem;
    font-size: .75rem;
    font-weight: bold;
  }

  &__input {
    height: 2.5rem;
    width: 100%;
    margin-left:0rem;
    padding-left: 1rem;
    border: none;
    border:solid .0625rem;
    border-radius: .25rem;
    color: $silver-chalice;
    box-sizing: border-box;
    font-size: .8125rem;

    &:focus {
      outline: none;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
