@import '../../styles/Colors';
@import '../../styles/Fonts';

.Button {
  height: 2.5rem;
  width: 100%;
  border: 0rem;
  border-radius: .25rem;
  font-size: .75rem;
  font-family: $open-sans;
  font-weight: bold;
  background-color: $ocean-green;
  color: $white;
  cursor: pointer;

  &__container {
    background-color:rgba(255,255,255,.2);
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &__Google {
    background-color: $google-blue;
    background-image: url('../../../images/google.svg');
    background-repeat: no-repeat;
    background-position: .5rem .5rem;
    font-weight: lighter;
    letter-spacing: .0625rem;
  }

  &__Twitter {
    background-color: $twitter-blue;
    background-image: url('../../../images/twitter2.svg');
    background-repeat: no-repeat;
    background-position: .5rem .5rem;
    font-weight: lighter;
    letter-spacing: .0625rem;
  }

  &__Facebook {
    background-color: $facebook-blue;
    background-image: url('../../../images/facebook.svg');
    background-repeat: no-repeat;
    background-position: .5rem .5rem;
    font-weight: lighter;
    letter-spacing: .0625rem;
  }
}
