@keyframes loading-quill {
  from {
    opacity: .3;
  }

  to {
    opacity: 1;

  }
}

@mixin animation-loading-quill {
  animation: 2s infinite alternate loading-quill;
  animation-timing-function: ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@mixin animation-fade-in {
  animation: 1s fade-in;
  animation-timing-function: ease-out;
}