@import "Fonts";
@import "Colors";

.autocomplete {
  display: inline-block;
  position: relative;
  width: 100%;
  background: transparent;
  @mixin border-bottom-radius($radius) {
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  }

  input.input-text.open {
    @include border-bottom-radius(0);
    border-color: darken($westar, 25%); /* stylelint-disable-line sh-waqar/declaration-use-variable */
  }

  ul.menu {
    @include border-bottom-radius(6px);
    position: absolute;
    width: 100%;
    border: 1px solid darken($westar, 25%); /* stylelint-disable-line sh-waqar/declaration-use-variable */
    border-top: none;
    background-color: $white;
    list-style: none;
    max-height: 164px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;

    &:empty {
      border: none;
    }

    li {
      display: flex;
      align-items: center;
      height: 41px;
      width: 100%;
      padding: 0 10px;
      font-family: $source-sans-pro;
      font-size: 12px;
      color: $tundora;
      cursor: pointer;
      white-space: pre;

      &:hover {
        background-color: lighten($mongoose, 15%); /* stylelint-disable-line sh-waqar/declaration-use-variable */
      }

      &.blur {
        background-color: lighten($mongoose, 15%); /* stylelint-disable-line sh-waqar/declaration-use-variable */
      }

      span.matched {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}
