@import "../styles/Fonts";
@import "../styles/Colors";
@mixin button {
  height: 30px;
  width: 146px;
  padding: 3px 6px;
  border-radius: 4px;
  text-align: center;
  font-family: $roboto-slab;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: none;
  }

  img {
    margin-right: 4px;
  }
}

.button-primary {
  @include button;
  background-color: $ocean-green;
  color: $white;

  &:hover, &:focus {
    background-color: $emerald;
    color: $white;
  }
}

.button-secondary {
  @include button;
  border: 1px solid $masala;
  background-color: $white;
  color: $masala;

  &:hover, &:focus {
    background-color: $alabaster;
    color: $masala;
  }
}

a.button-primary, a.button-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
}
