$pampas: #F8F6F4;
$westar: #E6E4E1;
$westar2: #E3E1DF;
$white: #FFF;
$dove-gray: #676767;
$pampas2: #F1EFEC;
$alabaster: #FBFBFB;
$ocean-green: #43B980;
$dove-gray2: #737373;
$wedgewood: #4A9699;
$black: #000000;
$mercury: #E9E9E9;
$gallery: #F0F0F0;
$tundora: #4A4A4A;
$scorpion: #565656;
$dove-gray3: #666666;
$dune: #393534;
$gallery2: #ECECEC;
$fern: #64B77E;
$pampas3: #F3F0EE;
$masala: #413D3B;
$alto: #D9D9D9;
$silver-chalice: #aaa;
$transparent: transparent;
$gallery2: #EFEFEF;
$mongoose: #BEAF7E;
$boulder: #7d7d7d;
$gallery3: #EDEDED;
$boulder2: #7A7A7A;
$flame-pea: #DD5943;
$emerald: #4BCD8E;
$alabaster: #FAFAFA;
