@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
@import url("https://fonts.googleapis.com/css?family=Merriweather:300");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:500");

$open-sans: "Open Sans", SansSerif, Helvetica, Arial;
$source-sans-pro: "Source Sans Pro", SansSerif, Helvetica, Arial;
$source-code-pro: "Source Code Pro", SansSerif, Helvetica, Arial;
$roboto: "Roboto", SansSerif, Helvetica, Arial;
$roboto-slab: "Roboto Slab", SansSerif, Helvetica, Arial;
$roboto-condensed: "Roboto Condensed", SansSerif, Helvetica, Arial;
$merriweather: "Merriweather", SansSerif, Helvetica, Arial;
