@import "Fonts";
@import "Colors";

textarea {
  padding: 12px;
}

input[type="text"], input[type="number"], input.input-text, textarea {
  $border-color: $westar;
  $text-color: $tundora;
  height: 41px;
  width: 100%;
  padding: 0 10px;
  border: 1px solid $border-color;
  border-radius: 3px;
  font-family: $source-sans-pro;
  font-size: 12px;
  line-height: 18px;
  background-color: $white;
  color: $text-color;
  box-sizing: border-box;

  &::placeholder {
    color: lighten($text-color, 20%); /* stylelint-disable-line sh-waqar/declaration-use-variable */
  }

  &:focus {
    border-color: darken($border-color, 25%); /* stylelint-disable-line sh-waqar/declaration-use-variable */
  }

  &.invalid {
    border-color: $flame-pea;
  }
}

button.invalid {
  border-color: $flame-pea;
}
