@import "styles/Fonts";
@import "styles/Colors";
@mixin content-iframe {
  border: 1px solid $alto;
  border-radius: 4px;
  background-color: $white;

  textarea {
    display: block;
    height: 66px;
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $alto;
    font-family: $source-code-pro;
    background: none;
    color: $dove-gray3;
    resize: none;
  }

  button {
    display: block;
    height: 20px;
    width: 100%;
    text-align: center;
    font-family: $source-sans-pro;
    font-size: 12px;
    line-height: 18px;
    background-color: $gallery2;
    color: $boulder2;
    cursor: pointer;
  }
}

