@import "styles/Fonts";
@import "styles/Colors";

.tab-option-group {
  $border: 3px solid $gallery2;
  $border-color: $mongoose;
  display: flex;
  list-style: none;

  &.extended::after {
    flex: 1 1 auto;
    border-bottom: $border;
    content: ' ';
  }

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 90px;
    padding: 0 10px;
    border-bottom: $border;
    font-family: $roboto-slab;
    font-size: 12px;
    background-color: $transparent;
    color: $masala;
    cursor: pointer;
    opacity: 0.75;

    &:hover {
      /* stylelint-disable sh-waqar/declaration-use-variable */
      border-color: lighten($border-color, 15%);
      /* stylelint-enable */
    }

    &.selected {
      border-color: $border-color;
      font-weight: bold;
    }

    &.disabled {
      color: $boulder;
      cursor: default;
    }

    &.disabled:hover {
      border-bottom: $border;
    }
  }
}

// TODO: Issue with no-descending-specificity
// https://github.com/stylelint/stylelint/issues/3135

/* stylelint-disable no-descending-specificity */

.panel-option-group {
  display: flex;
  text-align: center;
  list-style: none;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 47px;
    width: 81px;
    margin-right: 10px;
    border: 1px solid $westar;
    border-radius: 3px;
    font-size: 12px;
    box-shadow: 0 2px 4px $gallery3;
    background-color: $white;
    cursor: pointer;

    &:hover {
      border-color: $ocean-green;
    }

    &.selected {
      border-color: darken($ocean-green, 15%); /* stylelint-disable-line sh-waqar/declaration-use-variable */
    }
  }
}
