
.tab-option-group {
  $border: 3px solid #EFEFEF;
  $border-color: #BEAF7E;

  list-style: none;
  display: flex;

  &.extended::after {
    content: ' ';
    flex: 1 1 auto;
    border-bottom: $border;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    width: 90px;
    height: 45px;

    font-family: "Roboto Slab";
    font-size: 12px;
    color: #413D3B;
    border-bottom: $border;
    background-color: transparent;
    opacity: 0.75;
    cursor: pointer;

    &:hover {
      border-color: lighten($border-color, 15%);
    }

    &.selected {
      border-color: $border-color;
      font-weight: bold;
    }

    &.disabled {
      color: #7d7d7d;
      cursor: default;
    }
    &.disabled:hover {
      border-bottom: $border;
    }
  }
}

.panel-option-group {
  list-style: none;
  display: flex;
  text-align: center;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 81px;
    height: 47px;
    margin-right: 10px;

    font-size: 12px;
    border: 1px solid #E6E4E1;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 2px 4px #EDEDED;
    cursor: pointer;

    &:hover {
      border-color: #43B980;
    }

    &.selected {
      border-color: darken(#43B980, 15%);
    }
  }
}