.pagination {

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;

    li {
      $size: 27px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: $size;
      width: $size;
      margin-right: 8px;
      border: 1px solid $alto;
      border-radius: 4px;
      font-size: 12px;
      background-color: $white;
      color: $dove-gray3;
      cursor: pointer;
      text-decoration: none;
      user-select: none;

      &.selected {
        border-color: $transparent;
        background-color: $ocean-green;
        color: $white;
      }

      &.disabled {
        color: $silver-chalice;
        cursor: default;
      }
    }
  }
}
