@import "styles/Fonts";
@import "styles/Forms";
@import "styles/OptionGroups";
@import "styles/Pagination";
@import "styles/Tabs";
@import "styles/Autocomplete";
@import "styles/Colors";

* {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  outline: 0;
  vertical-align: baseline;
}

html, body {
  font-family: $source-sans-pro;
  background-color: $pampas;
  color: $tundora;
}

html, body, #app {
  height: 100%;
}

.root-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;

  >* {
    flex-shrink: 0;
  }
}

// TODO: remove this definition!

.text-center {
  text-align: center;
}

a {
  color: $ocean-green;
}
