.create-work .step-2-license .license-preview {
  .license {
    border: 1px solid #979797;
    padding: 20px 20px 64px;
    text-align: center;


    .name {
      font-weight: bold;
      margin-bottom: 10px;
    }

    .description {

    }
  }

}