@import '../../../components/styles/Iframe';

.page-licenses {

  header {
    display: flex;

    h1 {
      margin-bottom: 21px;
      font-family: "Roboto Slab";
      font-size: 32px;
      font-weight: 300;
      line-height: 36px;
      color: #666666;
    }
  }
}

.license-view {
  font-family: "Roboto Slab";
  border: 1px solid #E3E1DF;
  background-color: #FFF;
  margin-bottom: 50px;

  .hash-long {
    font-size: 10px;
    line-height: 26px;
  }

  .license-item {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .title {
    font-weight: bold;
    color: #43B980;
  }

  .iframe {
    @include content-iframe
  }
}