@import "Fonts";
@import "Colors";

.calendar-button {
  padding: 5px 7px;
  border: 1px solid $westar;
  border-radius: 3px;
  text-align: center;
  font-size: 10px;
  background-color: $white;
  cursor: pointer;
  outline: none;

  &:hover, &:focus {
    border-color: darken($westar, 25%); /* stylelint-disable-line sh-waqar/declaration-use-variable */
    outline: none;
  }

  span {
    font-family: $roboto;
    font-weight: 300;
  }

  img {
    position: relative;
    top: -1px;
    margin-left: 6px;
  }
}
