@import "Fonts";
@import "Colors";
@import "Buttons";

.copyable-hash {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;

  input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  button {
    @extend .button-secondary;
    $size: 30px;
    height: $size;
    width: $size;
    margin-left: 8px;
    padding: 0;
    border-radius: 50%;
    font-size: 8px;
    cursor: pointer;
  }

  .value {
    font-family: $source-code-pro;
  }

  .tooltip {
    position: fixed;
    padding: 4px;
    border-radius: 4px;
    background: $black;
    color: $white;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
  }

  &.tooltip-visible .tooltip {
    opacity: 1;
  }
}

.copyable-hash-no-button {
  @extend .copyable-hash;
  cursor: pointer;

  button {
    display: none;
  }
}
