@import "../../components/styles/Buttons";

.copyable-hash {
  display: inline-flex;
  align-items: center;
  flex-direction: row-reverse;

  input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  button {
    @extend .button-secondary;
    $size: 30px;
    width: $size;
    height: $size;
    margin-left: 8px;
    padding: 0;
    border-radius: 50%;
    font-size: 8px;
    cursor: pointer;
  }

  .value {
    font-family: 'Source Code Pro';
  }

  .tooltip {
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
    padding: 4px;
    background: black;
    color: white;
    border-radius: 4px;
    position: fixed;
  }

  &.tooltip-visible .tooltip {
    opacity: 1;
  }
}


.copyable-hash-no-button {
  @extend .copyable-hash;
  cursor: pointer;

  button {
    display: none;
  }
}