.literary-ipsum {
  columns: 300px 3;

  p {
    font-family: "Roboto Slab";
    font-size: 12px;
    line-height: 18px;
    color: #413D3B;

    &:first-child {

      &::first-line {
        font-size: 1.5em;
        font-variant-caps: small-caps;
      }

      &::first-letter {
        font-size: 2em;
      }
    }

    &:not(:first-child) {
      &::first-line {
        font-size: 1.25em;

      }
    }
  }
}