table.latest-blocks {
  width: 100%;
  border-collapse: initial;
  border-spacing: 0;
  border: 1px solid #E3E1DF;
  border-radius: 4px 4px 0 0;
  text-align: left;
  font-family: "Roboto Slab";
  background-color: white;

  tr td:first-child {
    padding-left: 16px;
  }

  tr td:last-child {
    padding-right: 16px;
  }

  td {
    padding: 10px 4px;
    border-bottom: 1px solid #E3E1DF;
    vertical-align: middle;
  }

  tbody tr:last-child td {
    border-bottom: none;
  }

  thead tr {
    td.title {
      font-size: 10px;
      font-weight: bold;
      color: #676767;
    }

    td.view-all {
      text-align: right;
      a {
        font-size: 10px;
        font-weight: bold;
        text-align: right;
        color: #4A9699;
      }
    }
  }

  tbody tr {
    td.height {
      font-family: "Source Code Pro";
      font-size: 10px;
      font-weight: 600;
      color: #737373;
    }

    td.id {
      font-family: "Source Code Pro";
      font-size: 10px;
      font-weight: 600;
      color: #737373;
    }

    td.date {
      font-size: 11px;
      font-weight: bold;
      text-align: right;
      color: #737373;
    }

    &:hover td {
      background-color: #FBFBFB;
    }
  }
}

