@import "../../components/styles/Fonts";
@import "../../components/styles/Colors";

.page-work {
  margin-bottom: 40px;
  font-family: $source-sans-pro;
  font-size: 14px;
  color: $dove-gray3;

  &.not-found {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
