@import "Fonts";
@import "Colors";

.overview {
  margin-bottom: 48px;

  &.loading {
    opacity: .5;
    pointer-events: none;
  }

  h1 {
    margin-bottom: 16px;
    font-family: $roboto-slab;
    font-size: 25px;
    font-weight: bold;
    line-height: 33px;
    color: $scorpion;
  }

  table > tbody > tr {

    td {
      padding-bottom: 9px;
      font-family: $source-code-pro;
      font-size: 12px;
      line-height: 15px;
      color: $dove-gray3;

      &:first-child {
        min-width: 140px;
      }

      &:last-child {
        font-weight: 600;
      }

      a {
        color: $ocean-green;
      }
    }
  }
}
