.page-work .title {
  padding: 12px 16px 15px;
  border: 1px solid #ECECEC;
  background-color: #FCFCFC;
  margin-bottom: 32px;

  &.loading {
    opacity: .5;
    pointer-events: none;
  }

  h3 {
    font-family: "Roboto Slab";
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 1px;
    color: #413D3B;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  main {
    display: flex;
    align-items: center;

    img {
      width: 50px;
      height: 50px;
      margin-right: 17px;
      border-radius: 50%;
    }

  }
}

