.offerings {
  font-size: 12px;

  &.loading {
    opacity: .5;
    pointer-events: none;
  }

  .offering {
    padding: 22px 16px 20px 16px;
    background-color: #FCFCFC;
    border-color: #ECECEC;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    font-family: 'Roboto Slab';

    h3 {
      font-size: 12px;
      font-weight: bold;
      line-height: 16px;
      letter-spacing: 1px;
      color: #413D3B;
      margin-bottom: 14px;
      text-transform: uppercase;
    }

    .info {
      margin-bottom: 16px;

      .description {
        font-size: 12px;
        line-height: 18px;
        color: #413D3B;
      }

      .price {
        font-family: "Roboto Condensed";
        font-size: 23px;
        font-weight: bold;
        text-align: right;
        line-height: 27px;
        color: #413D3B;
        margin-bottom: 4px;
      }

      .type {
        font-family: Roboto;
        font-size: 10px;
        text-align: right;
        line-height: 11px;
        color: #000000;
      }

    }

    button {
      width: 100%;
    }
  }
}