h1 {
  font-family: "Merriweather";
  font-size: 32px;
  font-weight: 300;
  line-height: 36px;
  color: #666666;
  margin-bottom: 38px;
}

h2 {
  font-family: "Roboto Slab";
  font-size: 22px;
  line-height: 29px;
  color: #393534;
  border-bottom: 1px solid #cacaca;
  padding-bottom: 10px;
  margin-bottom: 15px;
}