section.blocks .blocks {
  border: 1px solid #cacaca;
  background-color: white;
  padding: 0;

  .headHeight {
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .number {
      font-size: 40px;
    }
    .desc {
      text-transform: uppercase;
      font-size: 10px;
    }
    margin-bottom: 20px;
  }
  tr td {
    text-align: center;
  }
  tr td:last-child {
    padding-right: 15px;
    text-align: right;
  }
  table {
    margin-bottom: 0;
  }
}