.account-dropdown-menu {
  display: flex;
  position: relative;
  cursor: pointer;
  align-items: center;

  .avatar-and-notification-count {
    position: relative;
    margin-right: 10px;

    a {
      $size: 20px;

      width: $size;
      height: $size;

      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      top: -$size/2.5;
      right: -$size/2.5;

      font-size: 10px;
      color: white;
      background-color: #df583d;
      border-radius: 50%;

      text-decoration: none;
    }

    img {
      $avatar-size: 30px;
      width: $avatar-size;
      height: $avatar-size;
      cursor: pointer;
      border-radius: 50%;
    }
  }

  .display-name {
    font-family: 'Roboto Slab';
    font-size: 10px;
    color: #676767;
  }

  ul {
    $border-color: #E6E3E1;
    pointer-events: none;
    position: absolute;
    right: -5px;
    top: 40px;
    width: 200px;
    list-style: none;
    background-color: white;
    border: 1px solid $border-color;
    border-radius: 4px 4px 0 0;
    padding: 0;
    z-index: 100;
    opacity: 0;
    transition: opacity .3s;

    &:after {
      $size: 16px;
      content: '';
      display: block;
      position: absolute;
      top: -$size/2;
      right: 10px;
      width: $size;
      height: $size;
      background: #FFFFFF;
      border-top: 1px solid $border-color;
      border-right: 1px solid $border-color;
      transform: rotate(-45deg);
    }

    li {
      display: flex;
      align-items: center;
      height: 40px;
      padding: 0 15px;
      margin: 0;
      font-family: "Roboto Slab";
      font-size: 10px;
      color: #2E2E2E;

      &:not(:last-child) {
        border-bottom: 1px solid $border-color;
      }

      &:not(.inactive) {
        cursor: pointer;

        &:hover {
          background-color: #DFDFDF;
        }
      }

      &.inactive {
        opacity: 0.7;
      }

      &.log-out {
        color: #DD5943;
        font-weight: bold;
      }

      &.wallet {
        display: flex;

        .balance {
          margin-left: auto;
        }

      }

    }
  }

  &.open ul {
    opacity: 1;
    pointer-events: auto;
  }
}