@import "Colors";

footer {
  $font-color: $dove-gray;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3.875rem;
  margin-top: auto;
  background-color: $white;
  color: $font-color;

  ul {
    list-style: none;
  }

  img {
    height: 2.1875rem;
    width: 2.1875rem;
  }

  a {
    padding: 0rem 1rem;
    font-size: .75rem;
    color: $font-color;
  }
}
