@import '../../styles/Fonts';

.home {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  >main {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 175px calc(50% - 960px / 2);
    background-color: #36b074;
    background-image: linear-gradient(180deg, rgba(54, 176, 116, .93), rgba(54, 176, 116, .93)),
      url('../../images/background.jpg');
    background-position: 0 0, 0 0;
    background-size: auto, cover;
    color: white;
    text-align: center;

    >h1 {
      font-family: $roboto-slab;
      font-size: 41px;
      font-weight: 400;
      margin: 20px 0 10px;
      line-height: 44px;
    }

    >h2 {
      font-weight: 400;
      max-width: 530px;
      margin: 15px auto;
      font-size: 18px;
      line-height: 25px;
    }

    a {
      display: inline-block;
      width: auto;
      max-width: 150px;
      margin: 0 auto;
      padding: 15px 20px;
      border-radius: 6px;
      background-color: #fff;
      color: #2c2e3b;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
    }

    .integrate {
      max-width: 206px;
      margin-left: 10px;
      border: 1px solid #fff;
      background-color: hsla(0, 0%, 100%, .2);
      color: #fff;
    }
  }

  >footer {
    flex: 1 1 auto;
    display: flex;
    align-items: flex-start;
    padding: 50px calc(50% - 960px / 2);
    justify-content: space-between;
    font-size: 14px;
    background-color: white;

    img {
      width: 106px;
    }

    >ul {
      list-style: none;

      >li:first-child {
        font-weight: bold;
        margin-bottom: 16px;
      }
    }
  }
}