@import "Fonts";
@import 'Buttons';

nav.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 61px;
  margin-bottom: 64px;
  padding: 2px 20px;
  background-color: $white;

  &.shadow {
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
  }

  &.transparent {
    background-color: $transparent;
  }

  &.margin {
    margin-bottom: 44px;
  }

  .navbar-brand {
    padding: 14px 26px 14px 4px;

    img {
      width: 100px;
    }
  }

  .nav-link {
    font-family: $roboto-slab;
    font-size: 12px;
    font-weight: bold;
    color: $masala;
    opacity: 0.75;
  }

  .search {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin: 0 12px 0 6px;
    padding: 10px;
    max-width: 560px;

    &.shadow {
      box-shadow: 2px 2px 9px 0 rgba(0,0,0,0.06);
    }

    img {
      margin-right: 10px;
    }

    input[type=text] {
      flex-grow: 1;
      border: none;
      font-family: $roboto-slab, serif;
      font-size: 14px;

      &::placeholder {
        font-weight: bold;
      }
    }
  }

  ul.navbar-nav {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
    list-style: none;

    >li {
      margin-left: 5px;
      margin-right: 15px;
    }

    .login-button {
      height: 30px;
      width: 61px;
    }

    .try-it-out {
      @extend .button-primary;
      height: 30px;
      width: 109px;
    }
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }

  .navbar-login {
    height: 1.875rem;
    width: 5rem;
    background-color: $transparent;
    color: $ocean-green;
  }

  .navbar-signup {
    height: 1.875rem;
    width: 5rem;
  }
}
