@import 'Fonts';

.tokens {
  width: 960px;
  margin: 0 auto;
  word-break: break-all;
  padding: 50px 0;

  > h1 {
    font-family: $roboto-slab;
    font-size: 32.2px;
    margin: 20px 0 10px 0;
    line-height: 36px;
  }

  > h2 {
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 40px;
    line-height: 28px;
  }

  table {
    $border-color: #c9c9c9;
    $border-radius: 5px;

    width: 100%;
    background-color: #fff;
    border-spacing: 0;
    margin-bottom: 40px;

    > thead > tr > td {
      padding: 10px;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      background-color: #f6f6f5;
      font-weight: 600;

      &:first-child {
        border-left: 1px solid $border-color;
        border-top-left-radius: $border-radius;
      }

      &:last-child {
        border-right: 1px solid $border-color;
        border-top-right-radius: $border-radius;
      }
    }

    > tbody {
      > tr > td {
        padding: 10px;

        &:first-child {
          border-left: 1px solid $border-color;
        }

        &:last-child {
          border-right: 1px solid $border-color;
        }
      }

      > tr:last-child > td {
        border-bottom: 1px solid $border-color;

        &:first-child {
          border-bottom-left-radius: $border-radius;
        }

        &:last-child {
          border-bottom-right-radius: $border-radius;
        }
      }
    }
  }

  .create {
    display: block;
    width: 160px;
    padding: 10px 15px;
    border: 1px solid #000;
    border-radius: 6px;
    background-color: #fff;
    font-family: $open-sans;
    color: #2c2e3b;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;

    &:hover {
      color: #36b074;
    }
  }

  .delete {
    border: none;
    background: transparent;
    text-decoration: underline;
    cursor: pointer;
    color: #f00000;
    font-size: 14px;
    font-family: $open-sans;
  }
}