@import "Fonts";
@import "Colors";
@import "../styles/Animations";

.works-by-profile {
  transition: opacity .3s;

  table.works {
    $border-radius: 4px;
    width: 100%;
    border: 1px solid $westar2;
    border-radius: $border-radius $border-radius 0 0;
    font-family: $roboto-slab;
    border-collapse: separate;
    border-spacing: 0;

    thead tr td {
      height: 36px;
      padding: 10px 16px;
      font-size: 10px;
      font-weight: bold;
      background-color: $pampas2;
      color: $dove-gray;

      &:first-child {
        border-top-left-radius: $border-radius;
      }

      &:last-child {
        border-top-right-radius: $border-radius;
      }
    }

    tbody {
      background-color: $white;

      tr {

        td {
          padding: 10px 16px;
          border-top: 1px solid $westar2;

          &:hover {
            background-color: $alabaster;
          }
        }

        td.name {

          a {
            font-size: 12px;
            font-weight: bold;
            color: $ocean-green;
          }

          .media-type {
            margin-right: 5px;
            font-size: 10px;
            font-weight: bold;
            color: $dove-gray2;
          }

          .content-info {
            font-size: 10px;
            color: $dove-gray2;
            opacity: 0.6;
          }
        }

        td.hash, td.timestamp {
          font-family: $source-code-pro;
          font-size: 10px;
          font-weight: 600;
          color: $dove-gray2;
        }
      }
    }
  }

  .dropdown {
    position: relative;
    font-family: $roboto-slab;

    button {
      text-align: right;
      font-size: 12px;
      font-weight: bold;
      color: $wedgewood;
      cursor: pointer;
      outline: none;
    }

    ul {
      position: absolute;
      margin: 0;
      padding: 0;
      border-radius: 3px;
      box-shadow: 0 2px 24px 0 rgba(0,0,0,0.09);
      background-color: $white;
      list-style: none;
      z-index: 10;

      li {
        padding: 0 17px;
        font-size: 12px;
        line-height: 30px;
        color: $dove-gray2;
        cursor: pointer;
      }
    }
  }

  &.loading {

    &.no-content {

      td {
        text-align: center;
      }

      img {
        @include animation-loading-quill;
        width: 50px;
        margin: 30px;
      }
    }

    &:not(.no-content) {
      opacity: .5;
      pointer-events: none;
      transition-delay: .5s;
    }
  }
}
